html,body,#root,.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-rows: 56px  ;
    grid-template-columns: 150px auto;
    gap:10px
}
.item1{
    
    grid-row: 1;
    grid-column: 1 / span 2;
    
}
.item2{ grid-row: 2;}

.item3 {
    grid-row: 2;
}